<div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to our website!</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="lead text-center mb-4">Please select an option from the menu below:</p>
                    <ul class="list-group">
                        <li class="list-group-item"><a asp-controller="Candidate" class="text-dark">Option 1</a></li>
                        <li class="list-group-item"><a href="#" class="text-dark">Option 2</a></li>
                        <li class="list-group-item"><a href="#" class="text-dark">Option 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>